/* Estilos Gerais */
#back-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.texto-image {
  position: absolute;
  top: 30%;
  margin-left: 6%;
}

.titulo__ {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Branco, #fff);
}

.destinos__item--image {
  width: 90%;
  height: 60%;
}

.titulo__pag,
.titulo__seg,
.titulo__paragrafo {
  color: var(--grafite, #222222);
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.titulo__pag {
  font-family: var(--h1-font-family);
  font-size: var(--h2-font-size, 40px);
  font-weight: var(--h2-font-weight, 700);
  width: 285px;
  height: 46px;
}

.titulo__seg {
  font-family: var(--h1-font-family);
  font-size: 28px;
  font-weight: 700;
  width: 285px;
  height: 46px;
}

.titulo__paragrafo {
  font-family: var(--body2-font-family);
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.depoimentos__container {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-bottom: 2rem;
}

.depoimentos__wrapper {
  display: flex;
  justify-content: center;
}

.depoimentos__item {
  flex: 0 1 20%;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.depoimentos__texto {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.depoimentos__autor {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.depoimentos__autor--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.depoimentos__autor--nome {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.depoimentos__autor--foto {
  max-width: 70px;
}

.depoimentos__estrelas {
  display: flex;
  gap: 0.25rem;
}

.depoimentos__autor--avaliacao-estrela {
  width: 1.5rem;
  height: 1.5rem;
}

.depoimentos__estrelas svg {
  width: 0.75rem;
  height: 0.75rem;
}

.pre-footer__image {
  min-width: 100%;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  #back-img {
    height: 80vh;
  }

  .texto-image {
    position: absolute;
    top: 28%;
  }

  .pre-footer__image {
    width: 100%;
  }

  .depoimentos__wrapper {
    width: 100%;
    display: block;
  }

  .col.depoismentos__item,
  section,
  .col-8.mb-4.mt-4 {
    width: 100%;
  }

  .botao__container {
    margin-bottom: 9rem;
  }
}

@media (max-width: 430px) {
  #back-img {
    height: 80vh;
  }

  .titulo__ {
    font-size: 30px;
  }

  .texto-image {
    top: 28%;
    margin-left: 0;
  }
}
