#back-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.texto-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--Branco, #fff);
}

header {
  width: 100%;
}

.titulo__ {
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--Branco, #fff);
}

p {
  font-family: Montserrat;
}
/* Responsive 768px */
@media (max-width: 768px) {
  #back-img {
    height: 70vh;
  }

  .img-fluid {
    width: 100%;
    display: block;
  }
}

/* Responsive 430px */
@media (max-width: 430px) {
  #back-img {
    height: 80vh;
  }

  .navbar .navbar-expand-lg .bg-black {
    z-index: 0;
  }

  .titulo__ {
    margin: 0 0;
  }

  .img-fluid {
    width: 100%;
  }

  .texto-image {
    margin-top: 20%;
  }
}
